@media (min-width: 576px) {
  .banner-heading {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .banner-heading {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .banner-heading {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .banner-heading {
    font-size: 56px;
  }
}
